@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

button {
  border-radius: 4px;
}

input {
  padding-left: 20px;
  color: #f8f8f8;
  outline: none;
}

input::placeholder {
  color: #f8f8f8;
}

.cta {
  background-image: url(../public/images/CtaImg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

label {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}

label span {
  background: #fff;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


span:nth-of-type(1) {
  width: 50%;

}

span:nth-of-type(2) {
  width: 100%;
}


span:nth-of-type(3) {
  width: 75%;

}


input[type="checkbox"] {
  display: none;
}


input[type="checkbox"]:checked~span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px)
}


input[type="checkbox"]:checked~span:nth-of-type(2) {

  transform-origin: top;
  transform: rotatez(-45deg)
}


input[type="checkbox"]:checked~span:nth-of-type(3) {

  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);

}